<meta charset="utf-8">
<title>TKLBOX</title>
<nav>
  <h1>Welcome to TklBox</h1>
  <a href="/sessions/login">Login</a>
  <a href="/users/new">Sign Up</a>
  <a href="/lures">Home</a>
  <a href="/lures/add">Add a lure</a>
</nav>
