<meta charset="utf-8">
<title>TKLBOX</title>
<nav>
  <h1>Welcome to TklBox</h1>
  <a href="#">Login</a>
  <a href="#">Sign Up</a>
  <a href="/lures/new">Add Lure</a>
  <a href="/lures">Home</a>
</nav>
