<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/skeleton.css">
    <link rel="stylesheet" href="/css/style.css">
    <meta charset="utf-8">
    <title>New Lure</title>
  </head>
  <body>
    <% include ./partials/head.ejs %>
    <br>
    <br>
    <div class="container">
      <div class="newform">
        <form class="" action="/lures" method="post">
          <label for="type">Type:</label>
          <input id="type" type="text" name="type" value="">
          <label for="name">Name:</label>
          <input type="text" name="name" id="name" value="">
          <label for="conditions">Best Conditions:</label>
          <input type="text" name="conditions" id="conditions" value="">
          <label for="img">Image Link:</label>
          <input type="text" name="img" id="img" value="">
          <label for="qty">Quantity:</label>
          <input type="number" name="qty" id="qty" value="">
          <label for="color">Color:</label>
          <input type="text" name="color" id="color" value="">
          <button class="big-btn" type="sumbit" name="submit">Add </button>
        </form>
      </div>
    </div>

  </body>
</html>
