<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
    <% include ./partials/head.ejs %>

    <div class="container">
      <div class="item1">
        <h2><a href="/lures/plastics">Plastics</a></h2>
        <img src="http://www.barlowstackle.com/Assets/ProductImages/Intangible-Products/soft-plastics.jpg" alt="stock image of lure">
      </div>
      <div class="item2">
        <h2><a href="/lures/top">Top Water</a></h2>
        <img src="https://www.outdoorlife.com/sites/outdoorlife.com/files/styles/2000_1x_/public/images/2018/03/topwater-bass-bait-lures-hero.jpg?itok=hmTDZGyP&fc=50,50" alt="stock img">
      </div>
      <div class="item3">
        <h2><a href="/lures/cjbait">Crank and Jerk Baits</a></h2>
        <img src="https://images-na.ssl-images-amazon.com/images/I/71sFEcZz-xL._SX425_.jpg" alt="stock img">
      </div>
      <div class="item4">
        <h2><a href="/lures/swim">Swim Baits</a></h2>
        <img src="https://bestbassfishinglures.com/wp-content/uploads/2016/05/swimbait-types.jpg" alt="stock img">
      </div>
      <div class="item5">
        <h2><a href="/lures/jigs">Jigs</a></h2>
        <img src="https://ohioprolure.com/bass-fishing-tackle/wp-content/uploads/2015/06/Ohio-Pro-Lure-bass-flipping-jigs-E1a.png" alt="stock img">
      </div>

    </div>
  </body>
</html>
