<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% include ./partials/head.ejs %>

    <div class="container">
      <div class="item1">
        <h2><a href="/lures/plastics">Plastics</a></h2>
        <img src="" alt="stock image of lure">
      </div>
      <div class="item2">
        <h2><a href="/lures/top">Top Water</a></h2>
        <img src="" alt="stock img">
      </div>
      <div class="item3">
        <h2><a href="/lures/cjbait">Crank and Jerk Baits</a></h2>
        <img src="" alt="stock img">
      </div>
      <div class="item4">
        <h2><a href="/lures/swim">Swim Baits</a></h2>
        <img src="" alt="stock img">
      </div>
      <div class="item5">
        <h2><a href="/lures/jigs">Jigs</a></h2>
        <img src="" alt="stock img">
      </div>

    </div>
  </body>
</html>
