<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Plastic Lures</title>
  </head>
  <body>
    <% include ./partials/head.ejs %>

    <h1>Plastic Lures</h1>
    <div class="container">
        <% for(let i = 0; i<lures.length; i++) {%>
          <div class="lure1">
            <h3><a href="/lures/<%=lures[i].id%>"><%=lures[i].name%></a></h3>
            <img src="<%=lures[i].img%>" alt="<%=lures[i].name%>">
          </div>
      <%  } %>
    </div>
  </body>
</html>
