<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/skeleton.css">
    <link rel="stylesheet" href="/css/style.css">
    <meta charset="utf-8">
    <title>New User</title>
  </head>
  <body>
    <% include ../partials/head.ejs %>

    <h1>Create User</h1>
    <div class="container">
      <form action="/users" method="POST">
          <input type="text" name="username" placeholder="username"/>
          <input type="password" name="password" placeholder="password" />
          <button class="big-btn" type="submit" name="submit">Create</button>
      </form>
    </div>
  </body>
</html>
